* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
.carousel {
    width: 100%;
    position: relative;
}
.header_shadow {
    width: 100%;
    margin: 0px auto;
    background: rgba(27, 56, 81, 0.6);
    position: fixed;
    z-index: 10;
    top:0;
}

.header_main {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.carousel-caption .carousel-item {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}
.carousel-caption {
    position: absolute !important;
    z-index: 0 !important;
    left: 5% !important;
    top: 35%    !important;
    right: 0%   !important;
    text-align: left   !important;
}
.carousel-caption>h5 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    color: rgba(255, 165, 0, 1);
    /* padding-top: 40%; */
}
.carousel-caption>p {
    margin: 0px;
    padding: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 165, 0, 1);
    color: transparent;
    /* margin-left: 5%; */
    font-size: 40px;
}
.carousel-caption>a {
    font-size: 14px;
    color: #ffa500;
    text-decoration: none;
}
.carousel-caption>a>span {
    width: 50px;
    height: 1.5px;
    background: #ffa500;
    display: inline-block;
    margin: 0px 0px;
}
.carousel-caption>a:hover {
    margin-left: 20px !important;
    color: #ffa500;
}
.laptop_nav {
    display: none;
}
.btn {
    margin: 20px 0px;
    padding: 0px;
}
.logo {
    margin:20px 0px;
}
.btn img {
    width: 35px;
}
  
.hamburger a img:hover {
opacity: 0.7;
}

.logo img {
width: 140px;
}

/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: none !important;
    background-color: transparent !important;
    border: none  !important;
} */




/* DROPDOWN OR HAMBURGER BUTTON STYLE IS HERE ALL START FROM HERE PLEASE MAKE CHANGES FROM HERE ONLY DON'T
GO ANYWHERE ELSE FOR MAKING CHANGES*/


button.btn.btn-primary.dropdown-toggle {
    padding: 0px;
    border: 0px;
    text-decoration: none !important;
}
.btn-primary {
    color: #ffffff;
    background-color: transparent !important;
    border: none !important;
    text-decoration: none !important;

}
.dropdown-toggle::after {
    border: none;
    margin-left: 0px;
    vertical-align: 0px;
    content: none;
}
.dropdown-menu {
    margin: 0px !important;
    background: rgb(27, 56, 81) !important;
    padding: 20px 10px !important;
    transform: translate3d(-130px, 60px, 0px) !important;
}
.dropdown-menu>li>a {
    text-align: center;
    padding: 20px 20px !important;
    color: #ffa500 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.dropdown-menu>li>a:hover {
    background: rgb(27, 56, 81) !important;
    color: #4bdddd !important;
    border-bottom: 2px solid #ffa500 !important;
    margin: 0px 20px !important;
    font-size: 18px !important;
    padding: 10px 10px !important;
}




/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF OUR TRAINING */



.content_ourtraining {
    width: 90%;
    margin: 0px auto;
    padding: 30px 0px;
}

.ourtraining_heading>h1 {
    margin-top: 50px;
    font-size: 36px;
    color: #ffa500;
    font-weight: 900;
}
.ourtraining_heading>h1>span {
    color: #4bdddd;
}
.ourtraining_image {
    width: 90%;
    margin-top: 0px;
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
    color: rgba(10, 10, 10, 0.1);
    /* border: 2px solid greenyellow; */
}
.ourtraining_quote {
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.ourtraining_quote>h3 {
    margin-top: 50px;
    font-size: 17px;
    padding-bottom: 20px;
    line-height: 37px;
    font-weight: 500;
}
.ourtraining_para {
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.ourtraining_para>p {
    font-family: auto;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
}
.ourtraining_para>a {
    width: 50px;
    height: 1.5px;
    background: #ffa500;
    display: inline-block;
    margin: 5px 0px;
}



/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF OUR COURSES*/


.ourcourses {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(27, 56, 81, 0.9);
}
.ourcourses_heading {
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.ourcourses_heading>h1>span {
    width: 50px;
    height: 1.5px;
    background: #ffa500;
    color: #4bdddd;
    display: inline-block;
    margin: 5px 10px;
}
.ourcourses_heading>h1  {
    font-weight: 800;
    color: #ffa500;
}
.ourcourses_heading>p {
    padding-top: 40px;
    font-size: 14px;
    color: #4bdddd;
}
.ourcourses_plan {
    width: 90%;
    margin: 0px;
    padding: 0px; 
}
.plan_gold {
    margin: 0px;
    margin-left: 5%;
    margin-top: 50px;
}
.plan_gold>small {
    color: #ffa500;
}
.plan_gold>span {
    width: 50px;
    height: 1.5px;
    background: #ffa500;
    display: inline-block;
    margin: 5px 15px;
}
.plan_gold>h1 {
    color: #4bdddd;
    font-size: 24px;
    font-weight: bold;
}
.plan_gold>p {
    color: #ffa500;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* font-weight: bold; */
}
.plan_gold>ul>li {
    margin-left: 5%;
    color: #ffa500;
    font-size: 17px;
    margin-top: 5px;
    list-style-type: disc !important;
    /* font-weight: bold; */
}


/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF OUR PACKAGES*/


.ourpackages {
    width: 100%;
    margin: 0px auto;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: rgba(27, 56, 81, 0.9); */
}
.content_ourpackages {
    width: 90%;
    margin: 0px auto;
    padding: 0px;
}
.content_ourpackages>small {
    font-size: 14px;
}
.content_ourpackages>h2 {
    font-size: 34px;
    font-weight: 800;
}

.ourpackages_plan {
    /* box-align: center !important; */
    background: #ffffff;
    box-shadow: 2px 5px 20px #c0c0c0;
    margin-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.plan_img {
    text-align: center;
}
.plan_img img {
    width: 300px;
    
}
.para_part1, .para_part2 {
    margin: 10px 0px;
    /* padding: 10px 0px; */
    border-bottom: 2px solid #a39696;   
}
.para_part1>h2 {
    font-weight: 600;
    margin-top: 15px;
    font-size: 28px;
}
.para_part1>h4 {
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
}
.para_part1>small {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.5;
}
.para_part2>h4, .para_part3>h4{
    margin-top: 10px;
    font-weight: 300;
    font-size: 18px;
}
.para_part2>ul>li {
    margin-top: 8px;
    font-size: 16px;
    opacity: 0.5;
}
.validity>li {
    font-size: 16px;
    margin-top: 8px;
    opacity: 0.5;
}
.para_part3>p {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 400;
}
.part4 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.part4>li>a {
    padding: 10px;
    font-size: 19px;
    border: 1px solid;
    color: #ffffff;
    background: #4bdddd;
}
.part4>li>a:hover {
    padding: 13px;
    background: #5ceeee;
}
.part4>li {
    font-size: 22px;
    color: firebrick;
    
}
.part4>li>span {
    text-decoration: line-through !important;
    font-size: 13px !important;
    color: #ffa500;
}


/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF START LEARNING WITH US*/



.startlearning {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #4bdddd;
}
.startlearning_heading {
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
}
.startlearning_heading>small {
    font-size: 14px;
}
.startlearning_heading>h2 {
    font-size: 36px;
    font-weight: 800;
}
.startlearning_heading>p {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 28px;
}
.startlearning_heading>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    /* padding-top: 30px; */

}
.startlearning_heading>a>span {
    width: 50px;
    height: 1.5px;
    background: #ffffff;
    display: inline-block;
    margin: 5px 0px;
    margin-right: 10px;
}
.startlearning_heading>a:hover {
    color: #ffa500;
    font-size: 20px;
    margin-left: 5%;
}



/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF DEMAT ACCOUNT OPENING*/


.demat {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/demat.jpg);
    background-position: center;
}
.demat_heading {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;
    padding-bottom: 70px;
}
.demat_heading>small {
    font-size: 14px;
    margin-right: 5%;
    margin-top: 20px;
    font-weight: bold;
}
.demat_heading>h2>span {
    margin-right: 5%;
    margin-top: 20px;
    font-size: 32px;
    color: #ffa500 !important;
    font-weight: 800;
}
.demat_heading>h2 {
    margin-right: 5%;
    margin-top: 20px;
    font-size: 32px;
    color: #4ddddd;
    font-weight: 800;
}
.acc_1 {
    background: #ffffff;
    margin-top: 40px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
.acc_1>h3>img {
    width: 150px;
}
.acc_1>h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.acc_1>p {
    font-size: 16px;
    font-weight: bold;
}
.acc_1>a>span {
    width: 50px;
    height: 1.5px;
    background: #ffa500;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.acc_1>a {
    font-size: 14px;
    text-decoration: none !important;
    /* font-weight: bold; */
    color: #ffa500;
}
.acc_1>a:hover {
    font-size: 20px;
    margin-left: 5%;
    color: #ffa500;
}



/* FROM HERE WE ARE GOING TO START STYLE CODE FOR THE CONTENT SECTION OF DEMAT ACCOUNT OPENING*/






.footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(27, 56, 81, 1)
}
.footer_content {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer_content>h3>img {
    width: 250px;
    margin-bottom: 30px;
}
.footer_address>ul>li>a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffa500;
}
.footer_address>ul>li {
    margin-top: 20px;
}
.connect_with_us {
    margin-top: 60px;
    font-size: 26px;
    font-weight: 500;
    color: #4bdddd;
}
.socialmedia_links {
    display: flex;
    margin-top: 20px;
    /* justify-content: space-between; */
}
.socialmedia_links>li>a {
    font-size: 14px;
    margin-right: 30px;
    color: #ffa500;
    text-decoration: none;
}
.copyright {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: #4bdddd;
}




/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */
/* laptop view css starts from here. */







@media only screen and (min-width: 1055px) {


/* THIS PART IS FOR NAV BAR */



    .header {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
    }
    .dropdown {
        display: none;
    }
    .laptop_nav {
        display: block;
    }
    .menu {
        margin-top: 35px;
        margin-bottom: 30px;
        display: flex;
        font-size: 24px;
        font-weight: 600;
    }
    .menu>li>a {
        text-decoration: none;
        color: #ffa500;
        padding: 0px 12px;
    }
    .menu>li>a:hover {
        text-decoration: none;
        color: #4bdddd;
        font-size: 26px;
        border-bottom: 4px solid #ffa500;
        padding: 0px 12px;
        padding-bottom: 5px;
    }
    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo img {
        width: 220px;
    }



/* THIS IS FOR MAIN VISUAL SECTION OF THE WEBSITE */


    .carousel-caption {
        top: 20% !important;
        bottom: 20% !important;
    }
    .carousel-caption>h5 {
        font-size: 130px;
        font-weight: 900;
    }

    .carousel-caption>p {
        font-size: 130px;
        font-weight: 900;
    }

    .carousel-caption>a {
        font-size: 30px;
    }
    .carousel-caption>a>span {
        width: 70px;
        height: 4px;
        margin: 5px 0px;
    }
    .carousel-caption>a:hover {
        margin-left: 60px !important;
    }


/* FROM HERE WE WILL WRITE CODE FOR OUR TRAINING FOR LAPTOP VIEW */


    .content_ourtraining {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
    }

    .contents {
        width: 1055px;
        margin: 0px auto;
        padding: 30px 0px;
    }
    .laptopsize_for_flex {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }
    .ourtraining_heading>h1 {
        font-size: 70px;
        margin-top: 0px;
        font-weight: 800;
    }
    .ourtraining_image>h1 {
        font-size: 50px;
        font-weight: 900;
    }
    .ourtraining_quote>h3 {
        font-size: 30px;
        min-width: 300px;
        margin-top: 0px;
        line-height: 40px;
        font-weight: 500;
    }
    .ourtraining_para>p {
        font-size: 22px;
        min-width: 500px;
        margin-top: 0px;
        line-height: 40px;
        font-weight: 400;
    }




/* FROM HERE WE ARE GOING TO START OUR COURSES STYLE FOR LAPTOP VIEW */



    .content_ourcourses {
        width: 1055px;
        margin: 0px auto;
        padding: 0px;
        padding-bottom: 50px;
    }
    .ourcourses_plans {
        display: flex;
        justify-content: space-between;
    }


    .ourcourses_heading>h1  {
        font-weight: 800;
        font-size: 70px;
        color: #ffa500;
    }

    .ourcourses_heading>p {
        padding-top: 40px;
        font-size: 24px;
        color: #4bdddd;
    }

    .plan_gold>small {
        font-size: 20px;
        font-weight: 700;
    }
    .plan_gold>span {
        width: 70px;
        height: 4px;
    }
    .plan_gold>h1 {
        font-size: 35px;
        font-weight: bold;
    }
    .plan_gold>p {
        color: #ffa500;
        font-size: 25px;
        /* font-weight: bold; */
    }
    .plan_gold>ul>li {
        font-size: 20px;
    }



/* FROM HERE WE ARE GOING TO START DESIGN  FOR OUR EXCITING PACKAGES */



    .content_ourpackages {
        width: 1055px;
        margin: 0px auto;
        padding: 0px;
    }
    .content_ourpackages>small {
        font-size: 24px;
        font-weight: 600;
    }
    .content_ourpackages>h2 {
        font-size: 70px;
        font-weight: 900;
    }
    .ourpackages_plan {
        display: flex;
        justify-content: space-between;
    }
    .para_part1>h2 {    
        font-size: 38px;
    }
    .para_part1>h4 {
        margin-top: 25px;
        font-size: 22px;
        max-width: 500px;
    }
    .para_part1>small {
        margin-top: 20px;
        font-size: 18px;
        max-width: 500px;
    }
    .para_part2>h4, .para_part3>h4{
        margin-top: 15px;
        max-width: 500px;
        font-size: 22px;
    }
    .para_part2>ul>li {
        margin-top: 8px;
        font-size: 20px;
        max-width: 500px;
    }
    .validity>li {
        font-size: 20px;
        max-width: 500px;
        margin-top: 8px;
    }
    .para_part3>p {
        font-size: 20px;
        margin-top: 8px;
        max-width: 500px;
    }
    .part4 {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    .part4>li>a {
        font-size: 25px;
    }
    .part4>li>a:hover {
        padding: 16px;
        background: #5ceeee;
    }
    .part4>li {
        font-size: 28px;        
    }
    .part4>li>span {
        font-size: 18px !important;
    }
    .plan_img img {
        width: 350px;
        
    }




/* FROM HERE WE ARE GOING TO WRITE DESIGN CODE FOR START LEARNING WITH US */





    .startlearning_content {
        width: 1055px;
        margin: 0px auto;
        padding: 0px;
    }
    .startlearning_heading>small {
        font-size: 24px;
    }
    .startlearning_heading>h2 {
        font-size: 70px;
    }
    .startlearning_heading>p {
        font-size: 35px;
    }
    .startlearning_heading>a {
        font-size: 22px;
        /* padding-top: 30px; */

    }
    .startlearning_heading>a>span {
        width: 70px;
        height: 4px;
    }
    .startlearning_heading>a:hover {
        color: #ffa500;
        font-size: 28px;
    }





/* FROM HERE WE ARE GOING  TO DESIGN THE NEXT PART NAMED AS DEMAT ACCOUNT */


    .demat_heading {
        width: 1055px;
        margin: 0px auto;
        padding: 60px 0px;
    }

    .demat_heading>small {
        font-size: 24px;
    }
    .demat_heading>h2>span {
        font-size: 70px;
        margin-left: 0px;
        color: #ffa500 !important;
    }
    .demat_heading>h2 {
        font-size: 70px;
    }
    .acc_1>h3>img {
        width: 250px;
    }
    .acc_1>p {
        font-size: 24px;
        font-weight: bold;
    }
    .acc_1>a>span {
        width: 70px;
        height: 4px;
    }
    .acc_1>a {
        font-size: 22px;
    }
    .acc_1>a:hover {
        font-size: 26px;
        margin-left: 5%;
        color: #ffa500;
    }


/* FROM HERE WE ARE GOING TO START THE DESIGN SECTION FOR FOOTER PART */





    .footer_content>h3>img {
        width: 350px;
    }

    .footer_address>ul>li>a {
        font-size: 25px;
    }
    .connect_with_us {
        font-size: 40px;
        font-weight: 600;
    }
    .socialmedia_links>li>a {
        font-size: 24px;
    }
    .copyright {
        text-align: center;
        font-size: 25px;
    }



}
